import VALET_HOME_PATH/Caddy/*

:80 {
    root /
    internal /dev/null

    fastcgi / 127.0.0.1:9000 php {
        index VALET_SERVER_PATH
    }

    rewrite {
        to VALET_SERVER_PATH?{query}
    }
}
